[2021-12-06 01:43] ronaldtse opened #1 "Setup GHA automated pulls from official IETF Internet-Drafts dataset"
This is a ~46MB file that expands to ~270MB containing all the Internet-Draft bibliographic entries.

We need to make these available via the BibXML indexer / service for searching.

(Thank you @rjsparks )

[2021-12-16 13:21] andrew2net commented on #1
@ronaldtse the files in the archive are already in the BibXML format. Do we need to convert these documents to YAML and RelatonXML? If not we can just save them in this repo.

[2021-12-16 13:38] ronaldtse commented on #1
@andrew2net yes let's use the Relaton YAML format.

[2021-12-16 16:36] andrew2net commented on #1
@ronaldtse I faced a file (reference.I-D.draft-ietf-quic-manageability-04.xml) with an error in date:
[code]
I can drop the data but shouldn't we message the publisher?

[2021-12-16 16:38] rjsparks commented on #1
Bah - my fault on generating the dump (using a dev instance instead of the production instance)

 The next version I generate for you will not have that, _but_, it will look like
<date month="", day="", year="">.

I'll look at the record for it to see why the date is empty.

[2021-12-16 17:08] rjsparks commented on #1
As I am reworking the source you can resync-from I'm making a decision.

Note that all four of these URLs work (and retrieve the same content). The difference is the presence or absence of the 'draft-' prefix, and the version number. The community is accustomed to all four of these variants working, so I will generate all of them for the current version of drafts in the dataset I make for you to s

[2021-12-16 18:39] andrew2net commented on #1
@rjsparks thank you for the clarification.
In the relaton model we don't have a filename attribute, so we generate it from a document identifier. In this case the identifier is value from the `seriesInfo[@name='Internet-Draft']` element.
[code]
Threfore we will have only one file in our dataset for these four URL's you have mentioned above. Is it ok?

[2021-12-16 18:48] rjsparks commented on #1
yes - specifically, that means you will recognize all four variants at the replacement for the webservice you are building, correct?

I think this means I should restrict what goes into the source I'm building for you to be just the the single file
`reference.I-D.draft-sparks-sipcore-multiple-reasons-00.xml`
then, and not include the other variants. Does that sound right to you?

[2021-12-16 18:53] andrew2net commented on #1
It sounds good. Thanks.

[2021-12-16 21:51] rjsparks commented on #1
So, I have replaced
https://www.ietf.org/lib/dt/sprint/bibxml3.tgz
with
https://www.ietf.org/lib/dt/sprint/bibxml-ids.tgz

The contents will expand into bibxml-ids rather than bibxml3. This is in anticipation of the rsync endpoint that will replace this tarfile that will become available (I expect in early January).

The file is up to date as of ~2 days ago, and only contains the reference variant

[2021-12-17 07:38] ronaldtse commented on #1
@rjsparks this sounds reasonable. @andrew2net can you help update? Thanks.

[2021-12-17 09:33] andrew2net commented on #1
The new `bibxml-ids.tgz` is good. No more file duplication.

[2021-12-18 07:51] ronaldtse commented on #1
@andrew2net is this ready to go? Thanks.

[2021-12-18 14:03] andrew2net commented on #1
It's implemented but I'm going to publish this gem when finishing https://github.com/ietf-ribose/relaton-data-rfcs/issues/1 this weekend

[2021-12-18 14:28] ronaldtse commented on #1
Got it, thanks!

[2021-12-18 22:52] andrew2net commented on #1
@ronaldtse I've pushed the parsed data. Can you confirm if the files have correct format?

[2021-12-19 13:35] ronaldtse commented on #1
Thanks @andrew2net .

@kwkwan @strogonoff Right now the bibxml-service is configured to use the bibxml-data-ids repository. Can you change the demo instance to load from the new repositories? Thanks.

[2021-12-19 15:17] #1 closed

[2021-12-21 04:08] ronaldtse opened #2 "Problem with missing draft prefix and trailing hyphen"
There are two entries with a missing draft prefix. In particular the second one has duplicated hyphens at the end.

How do we resolve them?

https://github.com/ietf-ribose/relaton-data-ids/blob/d7fd11beadea199a170cdccde011d93cf4fee1e9/data/DRAFT--PALE-EMAIL-00.yaml#L2-L17

https://github.com/ietf-ribose/relaton-data-ids/blob/d7fd11beadea199a170cdccde011d93cf4fee1e9/data/DRAFT--REMI-DESPRES--IPV6-R

[2021-12-21 04:09] ronaldtse opened #3 "Why are all file names in all caps?"
If they are in all caps, they could also be in all lowercase.

Change them to all lowercase. All caps does not provide any benefit.

[2021-12-21 04:11] ronaldtse opened #4 "Strip away wrapping tags and surrounding empty space"
Under `abstract > content` we need to strip away the wrapping (empty) tags and the surrounding empty space:

https://github.com/ietf-ribose/relaton-data-ids/blob/d7fd11beadea199a170cdccde011d93cf4fee1e9/data/DRAFT-3GPP-COLLABORATION-01.yaml#L82-L85

==>

[code]

[2021-12-21 04:13] ronaldtse commented on #4
We probably want to strip out all `\n` and `\t` from the content that do not represent new paragraphs. They are formatting concerns that have no relevance to semantics.

https://github.com/ietf-ribose/relaton-data-ids/blob/d7fd11beadea199a170cdccde011d93cf4fee1e9/data/DRAFT-ANAND-SPRING-POI-SR-01.yaml#L74-L82

[2021-12-22 10:29] andrew2net commented on #3
@ronaldtse I think all caps or all lowercase are useful for users because they don't need to care about caps.
I'll change it all to lowercase.

[2021-12-22 10:52] ronaldtse commented on #3
Thanks @andrew2net . Lowercase is the convention in Internet-Draft IDs.

[2021-12-22 17:32] andrew2net commented on #4
@ronaldtse fixed but we need keep `<p>`. There is `<t>` element in [rfc7991](https://datatracker.ietf.org/doc/html/rfc7991#section-2.53). Nick asked me to replace `<t>` with `<p>` because in the metanorma `<t>` isn't allowed. So when relaton parses BibXML it replaces `<t>` with `<p>` in abstracts. When BibXML is rendered it repaces `<p>` with `<t>` back.

[2021-12-22 17:32] #4 closed

[2021-12-23 03:01] ronaldtse commented on #4
@andrew2net I see, but is the data being updated? I don't see the data being update daily yet:
https://github.com/ietf-ribose/relaton-data-ids/blob/main/data/DRAFT-3K1N-6TISCH-ALICE0-00.yaml

I want to verify that the whitespaces are stripped.

<img width="772" alt="Screenshot 2021-12-23 at 10 53 22 AM" src="https://user-images.githubusercontent.com/11865/147180890-1338e999-6347-4d60-a4fd-6cd587e9

[2021-12-23 06:34] ronaldtse opened #5 "(URGENT) Failure in GHA fetch"
https://github.com/ietf-ribose/relaton-data-ids/actions/runs/1611878082
[code]

[2021-12-23 06:41] ronaldtse commented on #5
We also need to delete files from the repository that are deleted due to conversion changes.

[2021-12-23 13:10] andrew2net commented on #5
fixed

[2021-12-23 13:10] #5 closed

[2021-12-23 13:11] andrew2net commented on #3
fixed

[2021-12-23 13:11] #3 closed

[2021-12-23 13:14] andrew2net commented on #2
@ronaldtse we can squeeze hyphens in filenames `filename.squeeze("-")`

[2021-12-23 14:56] ronaldtse commented on #2
@andrew2net are the double hyphens present in the original data?

[2021-12-23 15:23] andrew2net commented on #2
@ronaldtse yes they are. For example, the ID of the document you mentioned above has it: `I-D.-remi-despres--ipv6-rapid-deployment-`
Alternate we can remove the dot and suffix hyphen from using regex so the id `I-D.-remi-despres--ipv6-rapid-deployment-` becomes `i-d-remi-despres--ipv6-rapid-deployment.yaml` filename. Is it good?

[2021-12-23 16:49] ronaldtse commented on #2
@andrew2net I think this is a problem with the data source, let's report it back.

[2021-12-23 16:50] ronaldtse commented on #2
@rjsparks could you help confirm that the `I-D.-remi-despres--ipv6-rapid-deployment-` ID is as intended? Is there something we should do (clean) with it? Thanks!

[2021-12-23 19:15] rjsparks commented on #2
No, you should not clean it - it was a real draft (that violated the normal conventions before we had something in place to prevent that) - it is in the repository (as you can see above) at:
https://www.ietf.org/archive/id/draft--remi-despres--ipv6-rapid-deployment--00.txt

[2021-12-23 20:15] rjsparks commented on #2
It's reasonable not to include these in the served corpus.

[2021-12-28 09:41] ronaldtse commented on #2
@rjsparks I have no qualms making these available, so let's just keep them around until the day we wish to update the slightly deviant identifier.

[2021-12-28 09:41] #2 closed

[2021-12-31 11:35] strogonoff opened #6 "Draft versions need to relate to each other"
- We have this draft: `draft-tsou-softwire-6rd-multicast-01`
- We also have this draft: `draft-tsou-softwire-6rd-multicast-02`
- It looks like the second document supersedes the first document, but there is no way to discover the relationship

[2022-01-04 07:15] ronaldtse commented on #6
@strogonoff in IETF Internet-Drafts, the last two numeric digits provide a sequential "draft number", as described here: https://github.com/ietf-ribose/bibxml-service/issues/13

i.e.

The draft number is a strictly increasing number validated by the Datatracker service when first uploaded. From the filename, it can be immediately inferred that `draft-tsou-softwire-6rd-multicast-02` supersedes `dra

[2022-01-22 13:08] strogonoff opened #7 "The new `docid` situation needs explanation"
https://github.com/ietf-ribose/relaton-data-ids/blob/ada21210b34d3095bcb9399cd56dc3a6edb535e4/data/draft-donley-behave-deterministic-cgn-02.yaml#L14-L21

[2022-01-22 13:12] strogonoff commented on #7
1. What are the exact semantics of `type` here? “Internet-Draft” and “IETF” are clearly different taxonomy axes.
2. What are the exact semantics of `id`? Why do some IDs start with I-D and others don’t?
3. What is the meaning of `scope=anchor` here, again?

[2022-01-22 13:25] strogonoff commented on #7
BibXML service considers multiple bibliographic items that contain the same document ID (a pair of id and type) to represent a single document. This is following the presumed semantics of what a document ID is.

If `draft-donley-behave-deterministic-cgn-02` and `draft-donley-behave-deterministic-cgn-03` are not _the exact same_ document, then these bibliographic items should not share the same ID

[2022-01-22 13:56] ronaldtse commented on #7
@strogonoff it was explained in some other ticket already that an Internet-Draft has a versioned reference and an unversioned reverence. The unversioned reference always points to the newest versioned reference.

And yes, this is of course citing, which you can see in ISO 690.

Let me clarify here. No, expanding an unversioned reference into versioned references will not be sufficient and is in fa

[2022-01-22 13:58] ronaldtse commented on #7
For reader behavior, I would say that “at read time” the correct thing to do is what you’ve proposed - resolve the unversioned reference and then all its relations to its versions, then the user can see how the reference evolved and therefore know how usage of this standard has been impacted.

[2022-01-22 14:24] strogonoff commented on #7
I don’t think this can be called “citing”. This could be another type of reference, maybe a link or a relation, but to use the word “cite” in its dictionary meaning one has to know exactly what is being cited at authoring time.

(I.e., I cite X in support of my statement Y. At the time, the version is X1, and I can’t know what changes X2 introduces, and whether it will support my statement. If X2

[2022-01-22 14:27] strogonoff commented on #7
By the way, your point about resolving things at reading stage—that seems to be the appropriate way to deal with citations.

I.e., author cites precise version, and at reading time software can indicate if a newer version is available.

[2022-01-22 14:30] strogonoff commented on #7
Anyway, this is in longer term.

The questions raised in [my first comment](https://github.com/ietf-ribose/relaton-data-ids/issues/7#issuecomment-1019256625), and [beginning of the second](https://github.com/ietf-ribose/relaton-data-ids/issues/7#issuecomment-1019263465) are more immediately pressing regarding `relaton-data-ids` as BibXML service source.

[2022-01-22 15:20] TonyLHansen commented on #7
Citing a series is always acceptable within the dictionary definition. People cite "the OED" or "Merriam Webster" all the time without reference to which edition. But when you look it up, you go to the most recent one that you have access to.

Citing a non-numbered I-D has always been a reference to the series, represented by the most recent one available.

[2022-01-22 15:25] strogonoff opened #8 "ID has `draft`, but type is `standard`"
Wikipedia [describes](https://en.wikipedia.org/wiki/Internet_Draft) Internet Drafts in a way that strongly hints we should use document type `draft`, not `standard`. For example, it claims they are not supposed to be relied on by the public at large.

From the article I get the feeling that RFC is a standard, but I-D is not. Unless I am mistaken as to what “type” is supposed to mean in Relaton?

H

[2022-01-22 15:27] strogonoff commented on #8
Also, there is an attribute [`draft`](https://github.com/relaton/relaton-models/blob/main/grammars/biblio.rnc#L457), which I don’t know how to tie into this.

[2022-01-22 15:27] strogonoff opened #9 "No metadata differentiation between draft versions"
Here is an item that is presumably version 2 of a document:

https://github.com/ietf-ribose/relaton-data-ids/blob/main/data/draft-donley-behave-deterministic-cgn-02.yaml

However, nowhere in Relaton data is version 2 specified in a normalized way.

Some of the fields that could be used for this:

- [version](https://github.com/relaton/relaton-models/blob/main/grammars/biblio.rnc#L450)?
- [vedition

[2022-01-22 16:22] strogonoff commented on #7
I suspect I’m using “citation” to mean something else. To me “citation” and “reference” mean different things—anything could be referenced (a series, a family of documents, a webpage, etc.), but only a specific document version (or an archived version of a webpage at a particular point in time) is fit for citing unambiguously.

I’ll seek more details on use cases for BibXML service and authoring t

[2022-01-22 20:45] strogonoff opened #10 "Missing preceding versions"
There is version 10 of this draft, but versions 1–9 are missing:

https://github.com/ietf-ribose/relaton-data-ids/blob/main/data/draft-leiba-imap-implement-guide-10.yaml

[2022-01-23 05:26] ronaldtse commented on #10
Ha ha ha... You have a good eye... I don't have an answer 😉

I think we will require some help here, the version number is likely not "enforced". I suspect the BibXML Service should just accept that version numbers may not always be contiguous.

@rjsparks is the proposed behavior appropriate?

[2022-01-23 11:44] strogonoff commented on #10
Non-contiguous versions are not a problem for the service, just making sure data didn’t get lost during processing and isn’t supposed to be available

[2022-01-23 15:31] rjsparks commented on #10
Short answer: Yes, there will be versions missing, and that's ok.

The datatracker doesn't have the metadata for some early versions of very old drafts, so it can't say who the authors were.

In this particular case, we _do_ have the older drafts in the id-archive and at some point we'll backfill the datatracker with metadata based on them. At that point the bibxml for these older versions could b

[2022-01-23 15:33] rjsparks commented on #10
I just checked and the older service also doesn't have bibxml for the older versions of that particular Leiba draft.

[2022-01-24 17:13] strogonoff commented on #6
In fact, no, we _should not_ even check if versions exist. If we know at build time that draft `01` supersedes `00`, it is semantically correct to link to `00`. Maybe it doesn’t exist yet, but that’s not the problem of Relaton.

[2022-01-24 17:15] strogonoff commented on #10
Closing (data is missing in authoritative source). For the record, @ronaldtse, I don’t think missing versions mean we should omit superseding relations (#6).

[2022-01-24 17:16] strogonoff commented on #6
This is important from UX standpoint. BibXML service provides a way to go back/forward to superseded/superseding versions, and missing relations mean readers don’t get this opportunity with Internet Drafts.

[2022-01-28 13:55] strogonoff opened #11 "Some versions are missing, but they exist on xml2rfc webserver"
For example, we don’t have this one: http://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-abarth-cookie-02.xml

(There’s nothing here: https://github.com/ietf-ribose/relaton-data-ids/blob/main/data/draft-abarth-cookie-02.yaml)

It exists on xml2rfc server, but we don’t import it into our sources? If that’s intentional, feel free to close.

[2022-01-28 13:56] strogonoff commented on #11
This is not the same as #10. In case of #10, missing version did not exist on xml2rfc server (e.g., http://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-leiba-imap-implement-guide-09.xml). In this case, the version exists there, but not in our source.

[2022-02-07 19:59] strogonoff opened #12 "Provide contributor contact instead of “place”"
This:

https://github.com/ietf-ribose/relaton-data-ids/blob/d30e8cc56a5fc020c16f40b0c0b452ebd2cfdf57/data/draft-3k1n-6tisch-alice0-00.yaml#L115-L116

Should probably reside within contacts here:

https://github.com/ietf-ribose/relaton-data-ids/blob/d30e8cc56a5fc020c16f40b0c0b452ebd2cfdf57/data/draft-3k1n-6tisch-alice0-00.yaml#L26-L32

[2022-02-07 20:12] rjsparks commented on #12
Do not try to put an address on the IETF.
Freemont is not not right at all.
"The Internet" would be closer.
But remaining silent is the right thing to do.

[2022-02-07 20:13] larseggert commented on #12
+1 on not having a place.

Could someone explain what a `contributor` status signifies? I'd agree that he IETF is a `publisher` of Internet-Drafts, but the plain English definition of `contributor`  has connotations that are unlikely to make sense here.

[2022-02-07 20:15] rjsparks commented on #12
Listing the IETF as a contributor in this block is a new concept. While being the publisher is arguably not wrong, claiming that the publisher is a contributor is a new semantic, and has consequences with the IETFs definition of contributor.

I think this block should be removed from the contributor: block altogether.

[2022-02-07 20:16] larseggert commented on #8
I-Ds are **definitely not** standards.

[2022-02-07 20:22] strogonoff commented on #12
I believe there may be a clash between different semantics assigned to “contributor”.

Relaton’s model uses “contributor” to contain every entity that participated in the creation of the document, including editors, translators, authors and publishers. The role of the contributor is reflected via the “role” property.

Some background: the service uses Relaton as internal bibliographic data format.

[2022-02-07 20:38] strogonoff commented on #12
Some background: the service uses Relaton as internal bibliographic item format. The format was designed to accommodate documents by any SDO, as a result of which semantics across SDOs may clash.

In this case, I believe Relaton’s data model uses the “contributor” property to describe every entity that participated in the creation of the document, including editors, translators, authors and publis

[2022-02-07 20:43] rjsparks commented on #12
Even having the notion appear in a publicly accessible intermediate format this way is going to be problematic.

[2022-02-07 20:47] strogonoff commented on #12
Fair enough. @ronaldtse @opoudjis it looks like the use of Relaton for this project may not be possible unless the `contributor` field is renamed due to vocabulary clash, could we use a more explicit and precise term? For example, `participant`, `involved_party` or something like that.

[2022-02-07 20:51] strogonoff commented on #12
For the record, here’s the list of possible roles a contributor (per Relaton’s concept) can have so far:

```"author" | "performer" | "publisher" | "editor" | "adapter" | "translator" | "distributor"```

[2022-02-07 20:53] rjsparks commented on #12
Trying to follow the above suggestion. Just renaming the container isn't going to address the whole issue. This idea of throwing the IETF into a container with the authors with a formal role of "publisher" is, I think, going to be problematic regardless of the container name.

And while you're thinking about this in addition to "contributor" meaning something special from the IETF's IPR rules poin

[2022-02-07 20:59] rjsparks commented on #12
does can imply must?

[2022-02-07 21:11] strogonoff commented on #12
I see. That was my initial interpretation, I stand corrected and since I’m removed from relevant context I’ll abstain from any further suggestions and leave it to spec development team to sort out.

I think those are just available values of `contributor[*].role` in Relaton data model.

[2022-02-07 23:30] ronaldtse commented on #12
@rjsparks we can definitely omit the Publisher "place". Just to clarify that there are typically two "places" allowed in a reference:

* Place of the publisher. This is from traditional citation practice (and used in ISO 690)
* Place of individual contributors. This is the per-contributor address. A publisher "could" be a contributor, but it may not be.

So we will remove mention of the Publisher

[2022-02-07 23:41] ronaldtse commented on #12
For the record, the semantics of "contributor" mirror the ISO 690 data element "Creator", of which the partial description is provided below:

<img width="790" alt="image" src="https://user-images.githubusercontent.com/11865/152890616-7b382203-9bb7-4573-aa9e-4d3f21b83e58.png">

The semantics of "Place" is described in ISO 690 "Production information".
<img width="790" alt="Screenshot 2022-02-08 at

[2022-02-07 23:59] ronaldtse commented on #8
@strogonoff I prefer not to involve the Relaton model here but this is a good point.

We know I-Ds are drafts. But should we consider them "drafts on path to RFCs"?

P.S. ISO 690/Relaton has a long list of accepted types that are not "standards":
![](https://github.com/relaton/relaton-models/raw/main/images/RelBib_BibItemType.png)

[2022-02-08 07:55] larseggert commented on #8
No, you should not. Quite a few I-Ds are not meant to be ever published as RFCs.

[2022-02-08 08:25] ronaldtse commented on #8
Thanks @larseggert , that’s what I suspected.

If we consider I-Ds as “tech reports”, would that be a reasonable match?

[2022-02-08 09:39] larseggert commented on #8
That's what the bibtex citations in the datatracker generate at the moment, so I think that should be fine.

[2022-02-15 00:14] strogonoff commented on #12
I think after @andrew2net’s change this can be closed.

[2022-02-15 00:14] #12 closed

[2022-02-15 01:18] strogonoff opened #13 "Primary identifiers for Internet Drafts"
Currently, Relaton data provides document identifiers for Internet Drafts like this:

https://github.com/ietf-ribose/relaton-data-ids/blob/63bd977c0359878c956b9ad5d3850c33e55a88db/data/draft-ietf-intarea-tunnels-10.yaml#L14-L22

Note the pattern marked as “primary”. Presumably, this is the one suggested to be used when citing, and it has the format `I-D ietf-intarea-tunnels`.

From my understandin

[2022-02-15 18:13] ronaldtse commented on #13
@strogonoff `draft-ietf-intarea-tunnels` is definitely one "primary" identifier.

The pattern `I-D.xxx` is used in xml2rfc, which is the authoritative tool used to create IETF documents:
https://www.ietf.org/proceedings/65/slides/xml2rfc-0.pdf

e.g.
[code]

<img width="1056" alt="Screenshot 2022-02-16 at 2 11 29 AM" src="https://user-images.githubusercontent.com/11865/154123119-3b5236ee-7fcd-4474-

[2022-02-15 19:06] TonyLHansen commented on #13
I would call the -10 identifier as primary, with the value without the -10 as secondary. After all, the -10 identifier uniquely identifies a particular version of a draft.

The same would be true for the -09, -08, -07, etc versions.

But I'm not sure what connotations there are for the identifier to be primary.

[2022-02-15 19:20] strogonoff commented on #13
The connotation, from what I understand, is just that authors can use that exact string to unambiguously reference/cite a document. (E.g., DOI and ISBN are also identifiers, but no one cites by DOI or ISBN, so Relaton data does not mark them as primary.)

[2022-02-16 10:53] andrew2net commented on #13
@ronaldtse as I understand the primary ID is used to cite a document. The `relatnon-*` gems accept primary ID as an argument to get a document.

[2022-02-17 17:43] ronaldtse commented on #13
Relaton has to accept any ID (primary or not primary) used to cite a document. The "primary" tag is only useful when a reading application wants to display the ID. @andrew2net can you file a ticket at the appropriate place? Thanks.

[2022-02-17 18:14] strogonoff commented on #13
I thought Relaton enforces `primary` usage. If it doesn’t, it will allow authors to cite by DOI, and from my understanding this should not be the case.

[2022-02-17 18:56] strogonoff commented on #13
I agree on search, I meant using any non-primary docid when citing/referencing.

[2022-02-18 17:08] ronaldtse commented on #6
@strogonoff can you explain what we need to do here? You want Relaton to analyse the supersession relationships? If so please help file a ticket at relaton-ietf.

[2022-02-19 21:38] strogonoff commented on #6
I think they should, because they supersede each other, but I have filed this as a question for a reason.

[2022-02-20 11:46] andrew2net commented on #6
I don't understand what the question is. If we need to implement the relations for Internet-Drafts, then ok, it's possible to do.

[2022-02-20 21:51] TonyLHansen commented on #6
#11 is absolutely correct: there are two patterns of the names

Legacy pattern(s) to implement:

Pattern 1: https://{hostname}/public/rfc/bibxml-ids/reference.I-D.{example-name}.xml
Pattern 2: https://{hostname}/public/rfc/bibxml-ids/reference.I-D.draft-{example-name}-{draft-number}.xml

(The draft number will sometimes be referred to as the sequence number or generation number.)
(Note: The "draft

[2022-02-20 22:45] strogonoff commented on #6
@andrew2net: I filed this to at least clarify how things should work, even if nothing is to be done. I work on a service that provides access to the data, but I am not deeply familiar with how the data should look like and organizational specifics.

To my view it looked like Internet Draft versions are documents that supersede each other. If so, they probably should relate this way and if e.g. no

[2022-02-21 05:05] TonyLHansen commented on #6
The drafts do form a series of documents, with each version superceding the previous one for the series. There is a definite relationship.

Each version can also be individually referenced, allowing us to reference something that was said specifically in (say) version -03 of the draft, and something else that was said specifically in (say) version -17.

I don't know if it affects the work here, bu

[2022-02-21 18:34] ronaldtse commented on #13
@andrew2net For data sources that we need to "search on an external service" it would be difficult to allow searching using other criteria. However, for the data sources that we have a full dataset, we can create indexes using those other kinds of IDs too.

[2022-02-21 19:03] ronaldtse commented on #6
Thanks @TonyLHansen , agree that we should have a main "I-D" that groups the versions together whenever possible.

That said there is a potential issue for recognizing the name of the document. There are 200 documents that has a name that ends with '-\d\+'.

e.g.
* `reference.I-D.draft-weis-gdoi-iec62351-9-00.xml`
* `reference.I-D.draft-schulzrinne-sip-911-01.xml`

If we limit the pattern to end w

[2022-02-22 01:43] TonyLHansen commented on #6
This statement is false:

That is where the "draft-" at the beginning comes into play. This is ONLY present with the versioned documents. For the UN-versioned names, "draft-" must NOT be at the beginning of the name. (After reference.I-D." of course.)

reference.I-D.draft-zhang-mif-api-extension-802-21-00.xml # versioned
reference.I-D.zhang-mif-api-extension-802-21.xml # unversioned
reference.I-D.

[2022-02-22 02:21] ronaldtse commented on #6
@TonyLHansen thank you for the clarification! I have been confused about this all along.

[2022-02-22 02:41] ronaldtse commented on #6
@TonyLHansen I guess the real confusion is this: in the current implementation, all of these paths work.

Identical data:
* https://xml2rfc.tools.ietf.org/public/rfc/bibxml-ids/reference.I-D.sparks-sipcore-multiple-reasons.xml (correct path)
* https://xml2rfc.tools.ietf.org/public/rfc/bibxml-ids/reference.I-D.draft-sparks-sipcore-multiple-reasons.xml (invalid path)

Identical data:
* https://xml2r

[2022-02-22 13:02] TonyLHansen commented on #6
Traditionally, the invalid paths did not work.

When the TCL scripts broke, I "temporarily" switched to a redirect script that fails to block the invalid paths.

But please do reject the invalid paths in the new implementation.

[2022-02-22 15:44] andrew2net commented on #6
@ronaldtse I noticed the Internet-Draft documents have an anchor without a version. For example, the document `draft-weis-gdoi-iec62351-9-00` has an anchor `I-D.weis-gdoi-iec62351-9`. It allows recognizing the version in the name of the document.

[2022-02-22 17:07] ronaldtse commented on #6
Thank you @TonyLHansen for the determination, this will greatly help @strogonoff refine the correct behavior for the BibXML service!

[2022-03-07 10:52] strogonoff opened #14 "Should the versioned identifier really be `primary`?"
https://github.com/ietf-ribose/relaton-data-ids/blob/c718c948c536e833b69279324bd278a2f4916b4b/data/draft-wang-pce-vlan-based-traffic-forwarding-04.yaml#L14-L20

I believe Internet Drafts are primarily cited by unversioned identifiers, so it looks like assigning `primary` to the versioned identifier is a mistake?

This breaks the automatic association of given Internet Draft versions to be shown to

[2022-03-07 10:56] strogonoff commented on #14
Related: https://github.com/ietf-ribose/relaton-data-ids/issues/13

[2022-03-09 09:53] strogonoff commented on #14
Nick supports the idea of switching the primary identifier to the unversioned one.

[2022-03-23 00:35] ronaldtse commented on #13
@strogonoff is this task still valid? The anchor used by I-D is correct as per here: https://github.com/ietf-ribose/bibxml-service/issues/151#issuecomment-1064218979

[2022-03-24 10:05] strogonoff commented on #13
@ronaldtse I think this issue has been superseded by https://github.com/ietf-ribose/relaton-data-ids/issues/14.

[2022-03-24 10:05] #13 closed

[2022-03-24 10:06] strogonoff commented on #14
Resolved, as far as I can tell.

[2022-03-24 11:21] strogonoff commented on #14
No, not resolved:

https://github.com/ietf-ribose/relaton-data-ids/blob/5a3e9e30ec278b946d8943ea0300f3a51a38d518/data/draft-ietf-perc-dtls-tunnel-11.yaml#L15-L21

@ronaldtse, I believe the idea is to have unversioned `I-D…` identifier as primary. Here, the versioned identifier `draft-ietf-perc-dtls-tunnel-11` is primary.

[2022-03-24 18:00] ronaldtse commented on #14
@strogonoff may I be reminded why the unversioned ID is the primary one? Ping @opoudjis too

In any case, this anchor is correct and should not be changed:
[code]

[2022-03-25 02:18] opoudjis commented on #14
RFC XML v3 captures the versioned ID of Internet drafts in `seriesInfo`: https://datatracker.ietf.org/doc/html/rfc7991#section-2.47.6

Citations are actually in practice with user-supplied tags:

https://datatracker.ietf.org/doc/html/rfc8000

[code]

So it's not that big a deal, and the ID is retrieved by the URL anyway.

[2022-03-25 09:49] strogonoff commented on #14
@ronaldtse for BibXML, it is a bigger deal:

1) IETF mentioned a few times that they actually tend to use unversioned IDs when citing
2) BibXML service lists standards _that share the same primary identifier_ on the same page. This is important for UX.

Is there a reason we _don’t_ want to do it? If so (why?), we really should add superseding/superseded relations between I-Ds, because without both

[2022-03-25 09:51] strogonoff commented on #14
No argument about the anchor. However, earlier I believe we used to have `I-D wang-pce-vlan-based-traffic-forwarding` or `draft-wang-pce-vlan-based-traffic-forwarding` as primary. (It doesn’t mean we need to omit the versioned one, we’d just make it non-primary or even perhaps have two primary docids if that’s OK with Relaton spec.)

[2022-03-25 10:17] strogonoff commented on #6
@ronaldtse Regarding [this](https://github.com/ietf-ribose/relaton-data-ids/issues/6#issuecomment-1047371606):

Actually, this issue does not really relate to returned XML data, and actually should not affect xml2rfc paths or XML output. The relationships are made use by the GUI only, useful for searching for and exploring I-Ds.

[2022-03-26 17:07] ronaldtse commented on #6
@strogonoff maybe there is some misunderstanding in my comment https://github.com/ietf-ribose/relaton-data-ids/issues/6#issuecomment-1047371606. It does affect the URL paths patterns

These paths work, and are correct:
* https://dev.bibxml.org/public/rfc/bibxml-ids/reference.I-D.sparks-sipcore-multiple-reasons.xml
* https://xml2rfc.tools.ietf.org/public/rfc/bibxml-ids/reference.I-D.draft-sparks-si

[2022-03-26 17:13] ronaldtse commented on #14
Agree.

No, as long as we have both the versioned and the unversioned identifiers present. Both of them are valid identifiers, but I want to be sure that there is a semantic difference.

100% agree. Can you propose how we should do this?

Personally, I would argue that the correct way of doing this is to separate the two pieces of information:
1. The versioned I-D is by itself. We mark it as "belo

[2022-03-27 11:32] strogonoff commented on #14
@ronaldtse

I believe the most practical way to address this right now—unless this would have unintended consequences—is simply:

- Add another docid (or, rather, bring back previously deleted one), which is an _unversioned_ I-D identifier marked as `primary`.

While this may be more correct, it is not strictly necessary to address the immediate problem.

BibXML service already can show draft vers

[2022-03-27 11:36] strogonoff commented on #6
@ronaldtse

This may be a fine distinction, but I believe the requirement was that preexisting paths should return correct data, while behavior for not-exactly-matching paths was not specified (so if not-exactly-correct path returns the same data, it does not violate that requirement).

If it _is_ a requirement that non-matching paths should necessarily return 404, then some logic at xml2rfc path

[2022-03-27 11:43] strogonoff commented on #6
Correction, I think the issue is less global than I initially thought. I’ll just make it so that versioned URLs for I-Ds are rejected, while other xml2rfc-style paths maintain their existing behavior. Should be done by Monday…

[2022-03-28 02:48] ronaldtse commented on #14
Sounds reasonable.

Agree. I do think the information on the GUI can be dynamically fetched if we do this way, but I do not know if xml2rfc is going to support this.

[2022-03-28 04:48] ronaldtse commented on #6
Not sure why this is so complicated?

It just means:
* Unversioned I-D has path pattern: `reference.I-D.xxx.xml`
* Versioned I-D has path pattern: `reference.I-D.draft-xxx-nn.xml`

In the following cases, the path should return 404:
* Unversioned I-D has path pattern: `reference.I-D.draft-xxx.xml`
* Versioned I-D has path pattern: `reference.I-D.xxx-nn.xml`

This change ONLY applies to I-Ds.

This

[2022-03-29 04:44] strogonoff opened #15 "Designate an unversioned docid as primary"
Based on discussion in https://github.com/ietf-ribose/relaton-data-ids/issues/14.

- `docid.primary` should be `true`
- `docid.scope` should be unspecified
- `docid.id` should be unversioned

I am not sure which exact form is better (perhaps @ronaldtse can weigh in on this), for example:

1. `{ id: "I-D sparks-sipcore-multiple-reasons", type: "IETF" }`
2. `{ id: "draft-sparks-sipcore-multiple-reas

[2022-03-29 04:44] strogonoff commented on #14
I filed [a ticket](https://github.com/ietf-ribose/relaton-data-ids/issues/15) to add a new primary unversioned `docid`.

[2022-03-29 04:44] #14 closed

[2022-03-29 04:45] strogonoff commented on #6
Yes, when I understood that it is a simple change. At first I thought this was a request for all xml2rfc paths.

[2022-03-29 07:05] ronaldtse commented on #15
Thanks for the ping @strogonoff . I don't know the correct answer.

Considerations:
* I would think the proper ID for `draft-sparks-sipcore-multiple-reasons` omits the `draft-`.
* We shouldn't use `type: "IETF"` because IETF has stated multiple times they don't want to be associated with Internet-Drafts and RFCs.
* There is no "correct" PubID for Internet-Drafts today.

I have sent a clarification

[2022-03-29 10:27] strogonoff commented on #15
@ronaldtse

If we want to use neither `draft-` prefix nor `IETF` type, I am OK using this:

    { id: "I-D sparks-sipcore-multiple-reasons", type: "Internet-Draft" }

However, this would break the preexisting pattern where for `I-D ` prefixes the identifier type is “IETF”.

Until now we were basically saying “type _Internet-Draft_ means id starts with `draft-`; type _IETF_ means id starts with `I-

[2022-03-29 10:30] strogonoff commented on #15
Asked Nick to see what he thinks

[2022-03-31 07:03] ronaldtse commented on #8
Thanks @larseggert , somehow I missed this message. We should change the `type` to "tech report" instead.

[2022-04-02 06:32] strogonoff commented on #6
Since https://github.com/ietf-ribose/relaton-data-ids/issues/15 is stalled for now (Nick is against using primary ID and I can’t switch to docnumber), let’s add these superseded/supersedes relations between I-D versions? GUI needs to give the user a way to navigate to the latest draft at least clicking through relations. cc @ronaldtse

[2022-04-02 07:30] strogonoff opened #16 "Define series for each I-D"
Currently, I-Ds define global “series” pointing to all I-Ds in existence.

Could we also provide series that point to individual I-D, and include all versions of that I-D?

This would also help users discover latest I-D version.

Related attempts to address the same issue:

- https://github.com/ietf-ribose/relaton-data-ids/issues/6
- https://github.com/ietf-ribose/relaton-data-ids/issues/15

[2022-04-03 07:05] ronaldtse commented on #6
Sorry I think this thread got sidetracked possibly by my comment a while ago.

What @strogonoff needs here is this:
- For each bibliographic item, create a `supersedes` relation between `draft-xx-{nn}` and `draft-xx-{nn+1}`,
  - `draft-xx-{nn}` has a relationship of `superseded_by` to `draft-xx-{nn+1}`
  - `draft-xx-{nn+1}` has a relationship of `supersedes` to `draft-xx-{nn}`
- There are two catc

[2022-04-03 11:43] andrew2net commented on #6
@ronaldtse sure, I can. As soon as finish relaton-w3c and relaton-bipm

[2022-04-05 07:04] ronaldtse commented on #6
@strogonoff this issue belongs in relaton-ietf. I'm creating an issue there.

[2022-04-05 07:06] ronaldtse commented on #15
This will be implemented in https://github.com/relaton/relaton-ietf/issues/74

[2022-04-05 07:06] ronaldtse commented on #16
This is a relaton-ietf task. I will create the corresponding task there.

[2022-04-05 07:12] ronaldtse commented on #16
We have the relevant tasks here:
* https://github.com/relaton/relaton-ietf/issues/74
* https://github.com/relaton/relaton-ietf/issues/75
* https://github.com/relaton/relaton-ietf/issues/76

[2022-04-05 07:14] ronaldtse commented on #6
I've created the corresponding issues that deal with this. I believe this is sufficient for the current use case, let me know if not.

[2022-04-05 08:30] strogonoff commented on #15
Closing this in favor of that.

[2022-04-05 08:30] #15 closed

[2022-04-09 08:39] ronaldtse commented on #6
@strogonoff is this completed? If so please help close it. Thanks.

[2022-04-09 08:41] ronaldtse commented on #11
This needs to be filed at relaton-ietf.

[2022-04-09 08:46] ronaldtse commented on #9
@strogonoff for these issues that relate to Relaton, please file them in the corresponding Relaton repositories. @andrew2net needs to know about them to fix them.

[2022-04-29 14:38] rjsparks commented on #11
This is a side-effect of the datatracker not yet knowing about some older drafts, or in this particular case, have information about particular versions of older drafts. This is a datatracker issue that will be addressed at some point in the future. It's ok that the new service will not serve those references until the data issue is repaired in the datatracker.

[2022-04-29 16:42] TonyLHansen commented on #11
+1 to what Robert said

[2022-04-30 00:58] ronaldtse commented on #11
Thank you @rjsparks @TonyLHansen for the clarification! We will keep this ticket open for future tracking.

[2022-05-05 17:22] #9 closed

[2022-05-14 11:12] strogonoff opened #17 "`version.draft` should not be a list"
Regarding: https://github.com/ietf-ribose/relaton-data-ids/blob/7e90bafefe9b579ddfa339169d5ffbe949e548f1/data/draft-3k1n-6tisch-alice0-00.yaml#L90-L92

According to the model, `version.draft` can contain either one string or nothing: https://github.com/relaton/relaton-models/blob/f3363d495c7da9987fd2eb91a5c958284cfb43c3/models/VersionInfo.lutaml#L10-L14

Unless we foresee a change which makes `ver

[2022-05-14 11:31] strogonoff opened #18 "Correct format for primary `docid` of unversioned containers"
Currently, primary `docid` for unversioned I-D looks like this:

https://github.com/ietf-ribose/relaton-data-ids/blob/7e90bafefe9b579ddfa339169d5ffbe949e548f1/data/draft-3k1n-6tisch-alice0.yaml#L10-L13

    draft-3k1n-6tisch-alice0

However, IETF mentioned that correct format _without a version_ must look like:

    I-D.3k1n-6tisch-alice0

Just want to confirm whether I can expect a change, this i

[2022-05-16 07:28] strogonoff commented on #18
Assumption was incorrect, the `I-D.` format is only for legacy xml2rfc-style paths apparently.

[2022-05-16 07:28] #18 closed

[2022-06-24 06:09] strogonoff commented on #17
`version` spec was updated:
- there can now be [more than one `version`](https://github.com/relaton/relaton-models/blob/fee9ea8205756163a1d96de47f9b105dc701d8a0/models/BibliographicItem.lutaml#L58-L62), so it’s a list
- `version.draft` is at most one value, so not a list

[2022-06-24 06:38] ronaldtse commented on #17
@andrew2net this is an urgent issue that blocks the usage of the bibxml-service. Can you proceed with the fix ASAP? Thanks!

[2022-06-29 09:44] andrew2net commented on #17
@strogonoff can we close this issue?

[2022-08-10 23:16] ronaldtse opened #22 "(URGENT) "day" of publishing not always parsed correctly"
This is a bug in the Relaton BibXML parsing code. The data source is not parsing the "day" correctly:

https://github.com/ietf-tools/relaton-data-ids/blob/a2d55f1d00fd38720fcdf9d4383f2054a96be10d/data/draft-ietf-core-oscore-groupcomm-14.yaml#L24

The original BibXML from Datatracker shows the following:
[code]

Perhaps there is an assumption that day is always double digit while it also appears in

[2022-08-12 02:16] ronaldtse commented on #22
This is now fixed:
https://github.com/ietf-tools/relaton-data-ids/blob/60f22d03571c8eb35ed8e55a1fde993854b5dcac/data/draft-ietf-core-oscore-groupcomm-14.yaml#L24

[2022-08-12 02:16] #22 closed

[2022-11-03 18:10] stefanomunarini opened #23 "`forename.content` should not be a list"
Regarding https://github.com/ietf-tools/relaton-data-ids/blob/51819883fa002990c8cb638242ebe5ee9b60dc56/data/draft--pale-email-00.yaml#L30 and based on the [specs](https://github.com/relaton/relaton-models/blob/main/models/Forename.lutaml#L5),

`forename.content` should be a single instance of LocalizedString, and not a list.

[2022-11-04 17:24] stefanomunarini commented on #23
Not sure who to tag/assign here, perhaps @andrew2net ?

[2022-11-04 21:32] andrew2net commented on #23
@stefanomunarini the Relaton YAML doesn't match the diagram literally. In the example, you see a list of forenames, not content. Forename contains LocalizedString and optional initial string. LoclalizedString has its own content attribute. It's not the same content as you see in the spec. In the example, there are 2 forenames.
https://github.com/ietf-tools/relaton-data-ids/blob/51819883fa002990c8c

[2022-11-06 18:12] stefanomunarini commented on #23
Thanks for the clarification @andrew2net . That's correct, I misinterpreted the YAML. Closing this issue

[2022-11-06 18:12] #23 closed